@import '../.././styles/scss/variables';

.main {
  flex: 1 0 auto;
  padding: 48px 0;
}
.main__wrapper {
  display: flex;
    // display: grid;
    // grid-template-columns: 294px 1fr;
    // grid-auto-flow: column;
    // gap: 10px;
}

.block__wrapper {
  border: 2px solid black;
}
