.empty-cart {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  margin: 0 auto;
}

.cart-icon {
  width: 30px;
  height: 30px;
  opacity: 0.8;
}

.empty-cart-title {
  font-size: 24px;
}