@use 'fonts';
@import './variables';


html {
  font-family: 'Open Sans','Sans-serif';
  font-weight: 400px;
  color: #414141;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

.hoverOpacity:hover {
  opacity: 0.6;
}

.hoverOrange:hover {
  filter: invert(40%) sepia(90%) saturate(1000%);
}

button {
  cursor: pointer;
  transition: ease all 0.3s;
}

.outer-wrapper {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
}

.input {
  height: 45px;
  padding: 0 10px;
  font-size: $font-small;
  &::-webkit-input-placeholder {
    font-size: $font-small;
    color: #212121;
  }
  &:hover {
    background-color: #fafafa;
  }
}

.start-shopping-button {
  width: 260px;
  font-size: $font-small;
  font-weight: 600;
  font-family: 'Open Sans','Sans-serif';
  color: #fff;
  padding: 16px;
  margin: 0 auto;
  background-color: #ff7004;
  transition: ease-in 0.3s all;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  &:hover {
    background-color: #212121;
  }
}
